# OS
.DS_Store

# Dart / Flutter
.dart_tool/
.packages

# Dart Frog
build/
.dart_frog/

# Test
coverage/

# Local DB (ONLY for dev)
data/db.json

# Secrets
serviceAccount.json
*firebase-adminsdk*.json

# Archives
*.tar